<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <title>골프 고수가 되고싶니</title>

    <!-- css, js 불러오기 -->
    <link href="{{ url_for('static',filename='profile.css') }}" rel="stylesheet">

    <script>
        
    </script>

</head>

<body>
    <div class="contact">
        <div class="form">
            <h1>나랑 비슷한 PGA 선수 찾기</h1>
            <!-- form에서 post 날리는법 찾기 -->
            <form action="/submit" method="GET">
                <div class="inputbox">
                    <input type="number" name="height" id="height" required>
                    <label>키(cm)</label>
                </div>
                <div class="inputbox">
                    <input type="number" name="weight" id="weight" required>
                    <label>몸무게(kg)</label>
                </div>
                <div class="inputbox">
                    <input type="number" name="age" id="age" required>
                    <label>나이(만)</label>
                </div>
                <button class="btn" type="submit">전송</button>
            </form>

        </div>
    </div>
</body>

</html>